<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}tanieChlanie{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'chlanie/css/mdb.min.css' %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'chlanie/js/bootstrap.min.js' %}"></script>
<link href="{% static 'chlanie/main.css' %}" rel="stylesheet">
<link href="{% static 'chlanie/multiple-select.css' %}" rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}
</body>

{% block script %}
<script src="{% static 'chlanie/multiple-select.js' %}"></script>
<script src="{% static 'chlanie/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'chlanie/js/mdb.min.js' %}"></script>
<script src="{% static 'chlanie/js/popper.min.js' %}"></script>
<script>
        $('select').multipleSelect();
</script>

{% endblock %}
</html>