{% extends 'chlanie/base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <h1>
            <strong>{{ lokal.nazwa }}</strong> ({{rating}})
            <br/>
            <small class="text-muted">{{ lokal.adres }}</small>
        </h1>
    </div>
    {% if not liked %}
    <form method="post">
        {% csrf_token %}
        <div class="col-md-16">
            <button class="btn btn-primary">Like!</button>
        </div>
    </form>
    {% else %}
    <strong class="badge badge-success">Liked</strong>
    {% endif %}

    <!-- icons -->
    <div class="row">
        {% for key, value in info %}
        {% if value == True %}
        <i class="material-icons">{{ key }}</i>
        {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <table>
            <tr>
                <td class="text-primary">Cena wódki:</td>
                <td>{{ lokal.cenaWodki }}</td>
            </tr>
            <tr>
                <td class="text-primary">Cena piwa:</td>
                <td>{{ lokal.cenaPiwa }}</td>
            </tr>
        </table>
    </div>


    <div class="row">
        Komentarze: </br>
        {% if comments %}
        <ul>
            {% for comment in comments %}
            <li><span class="text-primary font-weight-bold">
                {{ comment.author }}: </span>
                {{ comment.text }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        brak</br>
        {% endif %}
        Dodaj komentarz:
        <form method="post">
            {% csrf_token %}
            <input class="form-control" id="{{ form.text.id_for_label }}" placeholder="Treść komentarza" type="text" name="{{ form.text.html_name }}">
            <div class="col-md-16 text-center">
                <button class="btn btn-primary">Submit!</button>
            </div>
        </form>
        <!--<a id="send"><i class="material-icons">send</i></a>-->
        <!--<script>-->
        <!--$("#send").click((ev) => {-->
        <!--ev.preventDefault();-->
        <!--$.ajax({-->
        <!--type: "GET",-->
        <!--url: '{% url "chlanie:lokale" %}',-->
        <!--data: $("#newComment").innerText,-->
        <!--success: (data) => {-->
        <!--console.log("udalo sie!");-->
        <!--console.log(data);-->

        <!--}-->
        <!--});-->
        <!--});-->
        <!--</script>-->

    </div>
</div>
{% endblock %}